*{
	margin: 0;
	padding: 0;
	color: #0098ca;
	font-family: "Times New Roman", sans-serif;
	font-size: 16px;
}
html,
body{
	height: 100%;
}
.wrapper{
	height: 100%;
	height: auto!important;
	min-height: 100%;
	position: relative;
}
a{
	font-family: "Times New Roman", sans-serif;
	text-decoration: none;
}
.header{
	background: #0098ca;
	padding: 40px 0 35px;
    opacity: 0;
}
.headhesive {
	background: #0098ca;
	padding: 40px 0 35px;
	opacity: 1;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.menu{
	text-align: center;
}
.menu ul{
	margin: 0;
	padding: 0;
}
.menu ul li{
	display: inline-block;
	margin-right: 28px;
}
.menu ul li:last-child{
	margin-right: 0;
}
.menu ul li a{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 5px;
}
.menu ul li a:hover,
.menu ul li a.active{
	text-decoration: none;
	border-bottom: 3px solid #fff;
}
.block-advertising{
	background: #c6c6c6;
	width: 300px;
	height: 600px;
	margin-top: 58px;
	z-index: 999;
}
.content{
	padding: 11px 0 50px;
}
.breadcrumbs{
    margin-bottom: 32px;
}
.breadcrumbs a{
	color: #848383;
	font-size: 12px;
}
.breadcrumbs a.b-black{
	color: #000;
}
.breadcrumbs a.b-black:hover{
	color: #000;
}
.breadcrumbs a:hover{
	color: #848383;
	text-decoration: none;
}
.content-post h5{
	color: #010000;
	font-size: 18px;
	font-weight: 600;
	font-family: "Times New Roman", sans-serif;
}
.post{
	margin-top: 25px;
	border-left: 3px solid #0098ca;
	cursor: pointer;
}
.post:hover{
	border-left: 3px solid #3c00ff;
}
.pagynation{
	text-align: center;
	margin-top: 50px;
}
.pagynation ul li{
	display: inline-block;
	padding: 0 2px;
}
.pagynation ul li a:hover{
	color: #3c00ff;
	text-decoration: none;
}
.footer{
	background: #000;
	text-align: center;
	padding: 15px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.footer p{
	color: #fff;
	font-size: 12px;
	margin: 0;
}
.content-post-inner h5{
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
	font-weight: 600;
	margin: 35px 0 22px;
    text-align: center;
}
.content-post-inner{
	border-top: 3px solid #000;
	padding-bottom: 100px;
}
.content-post-inner p{
	color: #000;
	padding-bottom: 10px;
}
.post h6{
	color: #0098ca;
	font-size: 16px;
	margin: 0;
	margin-bottom: 5px;
	padding-left: 10px;
}
.post p{
	color: #848383;
	font-size: 14px;
	padding-left: 10px;
}
.post:hover p{
	color: #000;
}
.post:hover h6{
	color: #3c00ff;
}
.toggle_mnu{
	background-color: transparent;
	border: medium none;
	border-radius: 10px;
	height: 40px;
	width: 50px;
	z-index: 100000;
	top: 40px;
	right: 30px;
	cursor: pointer;
	display: none;
	margin: auto;
	vertical-align: middle;
}
.toggle_mnu:focus,
.sandwich.active .sw-topper:focus,
.sandwich.active .sw-bottom:focus,
.sandwich.active .sw-footer:focus {
	outline: none;
}
.toggle_mnu span {
	display: block;
}
.sandwich {
	bottom: 0;
	height: 38px;
	margin: auto;
	width: 50px;
	z-index: 200;
	margin-top: 10px;
}
.sw-topper {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	height: 3px;
	left: 5px;
	position: relative;
	top: 0px;
	transition: transform 0.5s ease 0s, top 0.2s ease 0s;
	width: 40px;
	z-index: 999;
}
.sw-bottom {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	height: 3px;
	position: relative;
	top: 5px;
	transition: transform 0.5s ease 0.2s, top 0.2s ease 0s;
	width: 40px;
	left: 5px;
	z-index: 999;
}
.sw-footer {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	height: 3px;
	position: relative;
	top: 10px;
	transition: all 0.5s ease 0.1s;
	width: 40px;
	left: 5px;
	z-index: 999;
}
.sandwich.active .sw-topper {
	top: 10px;
  -webkit-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
		  transform: rotate(-45deg);
}
.sandwich.active .sw-bottom {
	top: 6px;
  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);
}
.sandwich.active .sw-footer {
	opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
		  transform: rotate(180deg);
}
#cp{
	position: fixed;
	right: -220px;
	top: 0px;
	width: 220px;
	height: 0px;
	background: #0098ca;
	transition: right 0.3s linear 0s;
	color: #fff;
	text-transform: uppercase;
	z-index: 99;
	display: none;
	text-align: left;
}
.top-menu-s ul{
	margin: 0;
	padding: 20px;
}
.top-menu-s ul li{
	list-style: none;
}
.top-menu-s ul li a{
	color: #fff;
	font-family: "Museo Sans Cyrl 500";
	font-size: 16px;
	text-transform: capitalize;
}
.top-menu-s ul li{
	padding: 10px;
}
.header p{
	color: #fff;
	display: inline-block;
	display: none;
}